body {
	background-color: #E5E5E5;
	font-family: Arial, 'Lucida Sans Unicode';

}

a {
	text-decoration: none;
}



a:link, a:visited {
	color: black;
}

a:hover {
	color: #508dff;
}



.body {
	width: 960px;
	clear: both;
	margin: 0 auto;
}

.mainHeader {
	position: fixed;
	top: 0;
	left: auto;
	float: left;
	padding-bottom: 20px; 
	z-index: 9999;
	width: 100%;
	height: 45px;
	/*background-color: #0052cc /* #5e8cff; */
} 

.mainHeader nav img {
	height: 50px;
	width: auto;	
	margin: 8px 5px 10px auto;
	/* padding-left: 5px; */
	clear: both;
	vertical-align: middle;
	float: left;
}

.staticNav {
	position: fixed;
	top: 0;
	left: 0;
	float: left;
	padding-bottom: 20px; 
	z-index: 9999;
	width: 100%;
	height: 45px;
	background-color: #0052cc; /* #5e8cff; */
	box-shadow: 0px 2px 5px #adadad;
} 

.mainHeader nav select {
	display: none;
}

.mainHeader nav ul {
	float: left;
	list-style: none;
	margin: 24px 0;
}

.mainHeader nav ul li {
	display: inline;
	margin-right: 25px;
	font-size: 100%;
	font-style: normal;
	padding: 10px 1px;
	text-align: center;
	height: 20px;
	text-decoration: none;
	color: #ffffff;
}

.mainHeader nav ul li a:hover {
	color: #d8e0ff;
}

.active {
	color: #d8e0ff !important;
}



.mainContent, .mainSidebar {
	margin-top: 65px;
	line-height: 25px;
}


.content {
	width: 70%;
	float: left;
}

.topContent, .bottomContent {
	background-color: white;
	padding: 1% 5% 1% 5%;
	margin-top: 2%;

}

.comments {
	padding: 1% 5% 1% 5%;
	margin-top: 2%;

}



.topContent header a:hover, .bottomContent header a:hover {
	color: #508dff;
}

.post-info {
	font-size: 11pt;
	font-style: italic;
}

.feedSide {
	width: 23%;
	float: left;
	background-color: white;
	margin-left: 1%;
	padding: 2% 3%;
	margin-bottom: 5%;

}

.mainFooter {
	width: 100%;
	height: 40%;
	float: left;

	margin: 2% 0;
}

.mainFooter p {
	width: 92%;
	margin: 1% auto;
	color: white;
}

@media only screen and (min-width: 150px) and (max-width: 695px) {
	
	.body {
		width: 800px;
		clear: both;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 150px) and (max-width: 769px) {
	
	.body {
		width: 720px;
		clear: both;
		margin: 0 auto;
	}
	
	.content {
		width: 60%;
		float: left;
	}
	
	.feedSide {
		width: 33%;
		float: left;
		background-color: white;
		margin-left: 1%;
		padding: 2% 3%;
		margin-bottom: 5%;
	
	}
	
	.feedSide article center a img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.body {
		margin: 0 auto;
		width: 90%;
		clear: both;
		font-size: 95%;
	}
	
	
/* Begin Navigation 
	
	.mainHeader nav {
	  float: left;
	  top: 0; 
	  padding-bottom: 20px; 
	  left: 0; 
	  width: 100%;
	  height: 15px;
	  background-color: #5e8cff;
	}
	
	.mainHeader nav ul {
		float: left;
		list-style: none;
		margin: 9px 10%;
	}
	
	.mainHeader nav ul li {
		display: inline;
		margin-right: 25px;
		font-size: 100%;
		font-style: normal;
		padding: 10px 1px;
		text-align: center;
		height: 20px;
		text-decoration: none;
		color: #000000;
	}
	
	.mainHeader nav ul li a:link, a:visited {
		color: white;
	}

	
End Navigation */
	
	.mainHeader {
		position: absolute;
		top: 0;
	    padding-bottom: 25px; 
	    left: 0; 
	    width: 100%;
	    height: 50px;
	    background-color: #0052cc;
	}

	.mainHeader nav img {
		height: 50px;
		width: auto;
		margin-left: 34%;
		align-content: center;
 	}
 	
 	.staticNav {
	 	display: none; /*
		position: fixed;
		top: 0;
		left: 0;
		float: left;
		padding-bottom: 20px; 
		z-index: 9999;
		width: 100%;
		height: 45px;
		background-color: #0052cc; /* #5e8cff; 
		box-shadow: 0px 2px 5px #adadad; */
	} 

 		
	.mainHeader nav select {
		display: inline-block;
		
		/* Additional Styling */
		-webkit-appearance: button;
	   -webkit-border-radius: 0;
	   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	   -webkit-padding-end: 10px;
	   -webkit-padding-start: 2px;
	   -webkit-user-select: none;
	   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#5e8cff, #5e8cff 40%, #5e8cff);
	   background-position: 97% center;
	   background-repeat: no-repeat;
	   border: 1px solid #5e8cff;
	   color: #eaeaea;
	   font-size: inherit;
	   margin: 0 auto 0 auto;
	   overflow: hidden;
	   padding: 5px 10px;
	   text-overflow: ellipsis;
	   white-space: nowrap;
	   width: 100%;
		
	}
	
	.center {
		margin: auto;
		width: 100%;
	}

	.mainHeader nav ul {
		display: none;
	}

	.content {
		width: 100%;
		float: left;
		margin-top: 10%;
	}

	.post-info {
		display: none;
	}

	.topContent, .bottomContent {
		background-color: white;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%

	}
	
	.feedSide article center a img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.feedSide {
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}
}