---
layout: default
title: "Blog"
group: "navigation"
navigationName: "BLOG"
order: 3
---

		
		<div class="mainContent">
			<div class="content">
				<h2>The stuff I write</h2>
			{% for post in site.posts %}
				<article class="topContent">

					<header>
						<a href="{{ post.url | prepend: site.url }}"><h2>{{ post.title }}</h2></a>
					</header>
	
					<footer>
						<p class="post-info">by {{ post.author }} on {{post.date | date_to_string }}</p>
					</footer>
	
					<content>
						<p>{{ post.preview }}</p>	
					</content>					
				</article>
			{% endfor %}
				
			</div>

			<!--Pager -->
			{% if paginator.total_pages > 1 %}
			<ul class="pager">
				{% if paginator.previous_page %}
				<li class="previous">
					<a href="{{ paginator.previous_page_path | prepend: site.url |replace: '//', '/' }}">&larr; Latest Posts</a>

				</li>
				{% endif %}

				{% if paginator.next_page %}
				<li class="next">
					<a href="{{paginator.next_page_path | prepend: site.url |replace: '//', '/' }}">Older Posts &rarr;</a>
				</li>
				{% endif %}
			</ul>
			{% endif %}

		</div>
			
			
			
			
