<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}} - JrColas</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#0052cc">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css"  href="{{ site.url }}/css/style.css">
        <link rel="icon" sizes="192x192" href="{{ site.url }}/images/highresicon.png">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>
    
    <body class="body">
        <script src="{{ site.url }}/js/script.js"></script>

    {% include nav.html %}
        
        