<!-- Navigation -->
<header class="mainHeader">
    <img src="{{ site.url }}/images/logo.png">
    
    <nav>           
        <ul>
            <li>
        <a href="{{site.url}}/index.html" class="{% if page.url == '/index.html' %}active{% endif %}">HOME</a>
      </li>
            {% assign pages_list = {site.pages|sort:'order'} %}
            {% assign group = 'navigation' %}
            {% include pages_list %}
        </ul>               

        <select onchange="location = this.options[this.selectedIndex].value;">
            <option value="" selected="selected">Navigate to...</option>
            
            <option value="index.html">Home</option>
            <option value="music.html">Music</option>
            <option value="blog.html">Blog</option>
            <option value="about.html">About</option>                  
        </select>
    </nav>          
</header>