<div class="mainSidebar">
	<h2 style="padding-top: 20px">The Side Stuff</h2>
	<aside class="feedSide">					
		<article><center>
						
			
			<a class="twitter-timeline" href="https://twitter.com/JrColas" data-widget-id="624686753840959488" data-chrome="noborders">Tweets by @JrColas</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			
			
			<a href="http://www.soundcloud.com/jrcolas" target="_blank" title="SoundCloud"><img src="{{site.url}}/images/sndcloud.png"></a>
			<a href="http://www.facebook.com/jrcolasofficial" target="_blank" title="Facebook"><img src="{{site.url}}/images/facebook.png"></a>
			<a href="http://www.youtube.com/jrcolas22" target="_blank" title="Youtube"><img src="{{site.url}}/images/yt.png"></a>
				

		</center>
		</article>
	</aside>
</div>